@import "src/styles/variables";
@import "src/styles/mixins";

.popper {
  position: relative;
  flex: 1 1 auto;
  width: 100%;
}

.options {
  @include hide-scrollbar();
  position: absolute;
  width: 100%;
  top: 1rem;
  left: 0;
  border: 2px solid $white;
  padding: 1rem 1.2rem;
  background-color: $surface1;
  z-index: 3;
  max-height: 60vh;
  overflow-y: auto;
}

.option {
  font-family: $body-font;
  font-size: 1.6rem;
  font-weight: 600;
  color: $white;
  display: block;
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background-color: $white;
    color: $black;
  }
}
