@import "src/styles/variables";

.input {
  display: none;
  &:checked ~ .checkbox {
    background-color: $primary;
    border: none;
    & svg {
      display: block;
    }
  }
}

.label {
  font-family: $body-font;
  font-size: 2rem;
  font-weight: 400;
  margin-left: 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border: 2px solid $white;
  border-radius: 2px;
  background-color: $background;
  & svg {
    width: 2rem;
    height: 2rem;
    display: none;
  }
}
