@import "src/styles/variables";

.root {
  border-bottom: 0.5px solid $border;
  padding: 0.8rem 0;
  z-index: 10;
}

.dot {
  position: absolute;
  top: -2px;
  right: -2px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: $primary-color;
}

div.helpPopper {
  display: flex;
  justify-content: space-between;
  width: max-content;
  min-width: 30rem;
  background-color: $primary-color;
  border-width: 2px;
  padding: 0 2rem;
}

.iconLink {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: $screen_sm) {
    margin: 1rem;
  }
}
