@import "src/styles/variables";

.root {
  font-family: $body-font;
  font-size: 2rem;
  font-weight: 450;
  line-height: 3rem;
  margin-bottom: 1rem;
  display: block;
  text-transform: capitalize;
}
