@import "src/styles/variables";

.root {
  --swiper-theme-color: #{$primary};
  --swiper-pagination-bullet-inactive-color: #{$shade4};
  --swiper-pagination-bullet-inactive-opacity: 1;
  :global(.swiper-pagination) {
    bottom: 0;
    :global(.swiper-pagination-bullet-active) {
      background: $white;
    }
    :global(.swiper-pagination-bullet) {
      margin-inline: 1rem;
    }
  }
}
